<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
  <title>Website Home Page</title>
  <!-- /* coding with nick */ -->
</head>
<body>
<div class="bgimage">
  <div class="menu">

    <div class="leftmenu">
      <h4> NICK </h4>
    </div>

    <div class="rightmenu">
      <ul>
        <li id="firstlist"><a href="#">Home</a></li>
        <li><a href="/service">Services</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">LOGIN</a></li>
      </ul>
    </div>

  </div>
  <div class="text">
    <h4></h4>
    <h1> CLEAN & WASH </h1>
    <h3> WE ARE THE ONE OF THE WORLD'S TOP IN CLEANING SERVICES </h3>
    <button class="btn"> Like share</button>
    <button class="btn" routerLink="/login"> POST</button>
  </div>

</div>
<!-- /* coding with nick */ -->
</body>
</html>
